@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$verydarkgrey: hsl(0, 0%, 17%);
$darkgrey: hsl(0, 0%, 59%);
$white: #FFF;
$dark: #000;

$fontsize: 1em; //text input
$font: 'Rubik', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;